.header {
  height: 100vh;
  background-image:
          linear-gradient(to right, rgba($color-black-grey, 0.92) 0%, rgba($color-primary-dark, 0.55) 45%, rgba(transparent, 0.55) 100%),
          url("../img/hero-small.jpg");
  background-size: cover;
  background-position: top;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  @include respond(phone) {
    flex-direction: column;
    text-align: center;
  }

  &__logo {
    fill: #fff;
    color: #fff;
    width: 12rem;
    margin-right: 3rem;
    align-self: center;
  }

  &__text-box {
    text-align: left;
    @include respond(phone) {
      text-align: center;
    }
  }

}

